<hello name="{{ name }}"></hello>
<p>
  player 1 :
  <input [(ngModel)]="playera" type="number" />
  <button (click)="buttona()">click</button>
  <br />
  player 2 :
  <input [(ngModel)]="playerb" type="number" />
  <button (click)="buttonb()">click</button>
  <br /><br />
  {{isi.isi00}} {{isi.isi01}} {{isi.isi02}} {{isi.isi03}} {{isi.isi04}}
  <br />
  {{isi.isi10}} {{isi.isi11}} {{isi.isi12}} {{isi.isi13}} {{isi.isi14}}
  <br />
  {{isi.isi20}} {{isi.isi21}} {{isi.isi22}} {{isi.isi23}} {{isi.isi24}}
  <br />
  {{isi.isi30}} {{isi.isi31}} {{isi.isi32}} {{isi.isi33}} {{isi.isi34}}
  <br />
  {{isi.isi40}} {{isi.isi41}} {{isi.isi42}} {{isi.isi43}} {{isi.isi44}}

/* belum selesai XD*/
</p>
